[SQLite]
database=:memory:

[Firebird]
server=localhost
database=C:\\Program Files\\Firebird\\Firebird_1_5\\examples\\test.fdb
user=SYSDBA
password=masterkey

[PostgreSQL]
server=127.0.0.1
database=test_databaselayer
user=user
password=password
port=5432

[MySQL]
server=127.0.0.1
database=test_databaselayer
user=test
password=test

[Oracle]
user=SCOTT
password=TIGER
database=XE

[ODBC]
DSN=test_databaselayer
DbType=SQLite
user=user
password=password

[TDS]
server=127.0.0.1:1433
database=tempdb
user=user
password=password
