//---------------------------------------------------------------------------
//
// Name:        wxCommanderApp.rc
// Author:      aurdiales
// Created:     28/12/2006 12:44:06
// Description:
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
